* {
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns:  10px 1fr 10px;
  grid-template-rows: 10px 1fr 10px;
  margin: 0;
  height: 100vh;
  font-family: 'IM Fell English SC', serif;
}

h1 {
  font-size: 36pt;
}

p {
  font-size: 16pt;
  margin:5px;
}


main {
  display: grid;  
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: white;
}

#infoColumn {
  display: grid;
  grid-template-rows: 2fr 3fr 10%;
  border: 2px solid black;
}

.cardResultArea {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
}

#mainMap{
  display: grid;
  grid-template-columns: 25% 15% 12% 1fr;
  grid-template-rows: 1fr;
  background-image:url("../images/oregontes.png");
  background-repeat:no-repeat;
  background-size:cover;
  border: 2px solid black;
}



nav, footer {
  grid-column: 1 / 5;
  background-color: teal;
}

nav,aside,footer {
  background-color: teal;
}


.area:hover {
  border:2px solid red;
}

#mapColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: none;
}




#headText {
  text-align: center;  
  background-image:url('https://wallup.net/wp-content/uploads/2017/11/10/70037-war-World_War_II.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  border: 2px solid black;

}

#mainText {
  text-align: left;
  padding: 0px 5px 0px 5px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  border: 2px solid black;
}


